body {
    background-color: #F2F3F4;
    margin: 0;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size:cover;
}
#header {
    display: flex;
    flex-direction: row;
    align-items:center;
    background-color: white;
    height:10vh;
}
#home {
    display:flex;
    justify-content:left;
}
#right-buttons{
    position:absolute;
    left:90%;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    
}
#btn-home {
    display:flex;
    background-color:transparent;
    border:none;
    justify-content:left;
    font-size:25px;
    color:#50A892;
    margin-left:20px;

}

a {
    text-decoration: none;
}

#btn-cart {
    display:flex;
    background-color:transparent;
    border:none;
    font-size:14px;
    font-weight:bold;
}
#btn-bookings {
    display:flex;
    background-color:transparent;
    border:none;
    font-size:14px;
    font-weight:bold;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#titre {
    color: white;
}
#btn-search {
    border: none;
    background-color : #50A892;
    color : white;
    width: 55px;
    height: 35px;
    border-radius: 5px;
    height:40px;
    width:270px;
    border-radius:10px;
    
    
}

#date {
    background-color:whitesmoke;
    border:none;
    height:40px;
    width:270px;
    border-radius:10px;
    margin-bottom: 20%;
}


#sous-titre {
    color: white;
}

#boites {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px 50px 20px;
}


#location{
    display:flex;
    flex-direction: column;
    margin-bottom:110px;
    align-items: center;
}
.searchinput {
    background-color:whitesmoke;
    border:none;
    height:40px;
    width:270px;
    border-radius:10px;
    
}
#bte-resultat{
    display:flex;
    flex-direction:column;
    margin-left:30px;
    overflow:scroll;
}

#notfound {
    width: 100px;
    height: 100px;
}

.boite {
    background-color: white;
    width: 300px;
    height: 350px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img1 {
    width: 100px;
    height: 100px;

}

#book {

    background-color: #F8F1F1;
    width: 300px;
    height: 60px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

#btn-book {
    
    border-width: thin;
    border-color: grey;
    background-color : #50A892;
    color : white;
    width: 55px;
    height: 35px;
    border-radius: 5px;

}

